.navbar {
    max-width: 1180px;
    margin: auto;
    padding: 25px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #c4486c;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #8e5367;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav-links a:hover {
    color: #d84f76;
}

@media (max-width: 600px) {
    .navbar {
        padding: 20px;
    }

    .nav-links {
        gap: 12px;
    }

    .nav-links a {
        font-size: 12px;
    }
}